extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
      
        h1 Mitchell Nichols

        //- My title
        p Full Stack JavaScript Developer


        .about-bio

          //- My elevator pitch
          p I have 10+ years of experience in middleware support at IBM and currently almost done with Full Stack JavaScript Developer bootcamp. I have a desire for building quality applications and providing support.  I am eager to join a team that allows me to show my capabilities as well as continue to gain knowledge and grow within the company. 


      .skills-contact-box.box
        h6 Skills

        //- My Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- My Contact Info
        ul
          li 585-230-3571
          li MitchellNicholsEmail@gmail.com

        //- My Social Media Accounts
        a.btn-link(href='https://www.linkedin.com/in/mitchellnichols/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/Mitchell-Nichols?tab=repositories' target="_blank") GitHub
        //a.btn-link(href='') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back